In [1]:
import pandas as pdm
import numpy as np
%pylab inline

Populating the interactive namespace from numpy and matplotlib

# Data Cleaning for China's Five Cities PM2.5 Daily Value

## Data Cleaning for Beijing

The dataset are provided in individual city for each year, it is a separate csv sheet. The following steps are the same for every sheet.

Step 1: Read the data of Beijing 2008 and because the top three rows are explanation of what the dataset is about and the data only starts from row 4, we skip the first three rows.

In [179]:
dfb1 = pd.read_csv('Beijing_2008_2.5.csv', skiprows=3)

Step 2: Eliminate the -999 values (represented missing values)

In [180]:
dfb1 = dfb1[dfb1.Value != -999]

Step 3: Drop QC Name column, since remaining columns are not -999, which means the QC Name for those are all Verified

In [181]:
dfb1.drop('QC Name', axis=1, inplace=True)

Repeat the steps for all sheets for this dataset

In [182]:
dfb2 = pd.read_csv('Beijing_2009_2.5.csv', skiprows=3)

In [183]:
dfb2 = dfb2[dfb2.Value != -999]

In [184]:
dfb2.drop('QC Name', axis=1, inplace=True)

In [185]:
dfb3 = pd.read_csv('Beijing_2010_2.5.csv', skiprows=3)

In [186]:
dfb3 = dfb3[dfb3.Value != -999]

In [187]:
dfb3.drop('QC Name', axis=1, inplace=True)

In [188]:
dfb4 = pd.read_csv('Beijing_2011_2.5.csv', skiprows=3)

In [189]:
dfb4 = dfb4[dfb4.Value != -999]

In [190]:
dfb4.drop('QC Name', axis=1, inplace=True)

In [191]:
dfb5 = pd.read_csv('Beijing_2012_2.5.csv', skiprows=3)

In [192]:
dfb5 = dfb5[dfb5.Value != -999]

In [193]:
dfb5.drop('QC Name', axis=1, inplace=True)

In [194]:
dfb6 = pd.read_csv('Beijing_2013_2.5.csv', skiprows=3)

In [195]:
dfb6 = dfb6[dfb6.Value != -999]

In [196]:
dfb6.drop('QC Name', axis=1, inplace=True)

In [197]:
dfb7 = pd.read_csv('Beijing_2014_2.5.csv', skiprows=3)

In [198]:
dfb7 = dfb7[dfb7.Value != -999]

In [199]:
dfb7.drop('QC Name', axis=1, inplace=True)

In [200]:
dfb8 = pd.read_csv('Beijing_2015_2.5.csv', skiprows=3)

In [201]:
dfb8 = dfb8[dfb8.Value != -999]

In [202]:
dfb8.drop('QC Name', axis=1, inplace=True)

In [203]:
dfb9 = pd.read_csv('Beijing_2016_2.5.csv', skiprows=3)

In [204]:
dfb9 = dfb9[dfb9.Value != -999]

In [205]:
dfb9.drop('QC Name', axis=1, inplace=True)

In [206]:
dfb10 = pd.read_csv('Beijing_2017_2.5.csv', skiprows=3)

In [207]:
dfb10 = dfb10[dfb10.Value != -999]

In [208]:
dfb10.drop('QC Name', axis=1, inplace=True)

In [76]:
dfbj = pd.concat([dfb1, dfb2, dfb3, dfb4, dfb5, dfb6, dfb7, dfb8, dfb9, dfb10], axis=0)

In [77]:
dfbj.to_csv('bj_all.csv')

## Data Cleaning for Chengdu

In [209]:
dfc1 = pd.read_csv('Chengdu_2012_2.5.csv', skiprows=3)

In [210]:
dfc1 = dfc1[dfc1.Value != -999]

In [211]:
dfc1.drop('QC Name', axis=1, inplace=True)

In [212]:
dfc2 = pd.read_csv('Chengdu_2013_2.5.csv', skiprows=3)

In [213]:
dfc2 = dfc2[dfc2.Value != -999]

In [214]:
dfc2.drop('QC Name', axis=1, inplace=True)

In [215]:
dfc3 = pd.read_csv('Chengdu_2014_2.5.csv', skiprows=3)

In [216]:
dfc3 = dfc3[dfc3.Value != -999]

In [217]:
dfc3.drop('QC Name', axis=1, inplace=True)

In [218]:
dfc4 = pd.read_csv('Chengdu_2015_2.5.csv', skiprows=3)

In [219]:
dfc4 = dfc4[dfc4.Value != -999]

In [220]:
dfc4.drop('QC Name', axis=1, inplace=True)

In [221]:
dfc5 = pd.read_csv('Chengdu_2016_2.5.csv', skiprows=3)

In [222]:
dfc5 = dfc5[dfc5.Value != -999]

In [223]:
dfc5.drop('QC Name', axis=1, inplace=True)

In [224]:
dfc6 = pd.read_csv('Chengdu_2017_2.5.csv', skiprows=3)

In [225]:
dfc6 = dfc6[dfc6.Value != -999]

In [226]:
dfc6.drop('QC Name', axis=1, inplace=True)

## Data Cleaning for Guangzhou

In [227]:
dfg1 = pd.read_csv('Guangzhou_2011_2.5.csv', skiprows=3)

In [228]:
dfg1 = dfg1[dfg1.Value != -999]

In [229]:
dfg1.drop('QC Name', axis=1, inplace=True)

In [230]:
dfg2 = pd.read_csv('Guangzhou_2012_2.5.csv', skiprows=3)

In [231]:
dfg2 = dfg2[dfg2.Value != -999]

In [232]:
dfg2.drop('QC Name', axis=1, inplace=True)

In [233]:
dfg3 = pd.read_csv('Guangzhou_2013_2.5.csv', skiprows=3)

In [234]:
dfg3 = dfg3[dfg3.Value != -999]

In [235]:
dfg3.drop('QC Name', axis=1, inplace=True)

In [236]:
dfg4 = pd.read_csv('Guangzhou_2014_2.5.csv', skiprows=3)

In [237]:
dfg4 = dfg4[dfg4.Value != -999]

In [238]:
dfg4.drop('QC Name', axis=1, inplace=True)

In [239]:
dfg5 = pd.read_csv('Guangzhou_2015_2.5.csv', skiprows=3)

In [240]:
dfg5 = dfg5[dfg5.Value != -999]

In [241]:
dfg5.drop('QC Name', axis=1, inplace=True)

In [242]:
dfg6 = pd.read_csv('Guangzhou_2016_2.5.csv', skiprows=3)

In [243]:
dfg6 = dfg6[dfg6.Value != -999]

In [244]:
dfg6.drop('QC Name', axis=1, inplace=True)

In [245]:
dfg7 = pd.read_csv('Guangzhou_2017_2.5.csv', skiprows=3)

In [246]:
dfg7 = dfg7[dfg7.Value != -999]

In [247]:
dfg7.drop('QC Name', axis=1, inplace=True)

## Data Cleaning for Shanghai

In [248]:
dfsh1 = pd.read_csv('Shanghai_2011_2.5.csv', skiprows=3)

In [249]:
dfsh1 = dfsh1[dfsh1.Value != -999]

In [250]:
dfsh1.drop('QC Name', axis=1, inplace=True)

In [251]:
dfsh2 = pd.read_csv('Shanghai_2012_2.5.csv', skiprows=3)

In [252]:
dfsh2 = dfsh2[dfsh2.Value != -999]

In [253]:
dfsh2.drop('QC Name', axis=1, inplace=True)

In [254]:
dfsh3 = pd.read_csv('Shanghai_2013_2.5.csv', skiprows=3)

In [255]:
dfsh3 = dfsh3[dfsh3.Value != -999]

In [256]:
dfsh3.drop('QC Name', axis=1, inplace=True)

In [257]:
dfsh4 = pd.read_csv('Shanghai_2014_2.5.csv', skiprows=3)

In [258]:
dfsh4 = dfsh4[dfsh4.Value != -999]

In [259]:
dfsh4.drop('QC Name', axis=1, inplace=True)

In [260]:
dfsh5 = pd.read_csv('Shanghai_2015_2.5.csv', skiprows=3)

In [261]:
dfsh5 = dfsh5[dfsh5.Value != -999]

In [262]:
dfsh5.drop('QC Name', axis=1, inplace=True)

In [263]:
dfsh6 = pd.read_csv('Shanghai_2016_2.5.csv', skiprows=3)

In [264]:
dfsh6 = dfsh6[dfsh6.Value != -999]

In [265]:
dfsh6.drop('QC Name', axis=1, inplace=True)

In [266]:
dfsh7 = pd.read_csv('Shanghai_2017_2.5.csv', skiprows=3)

In [267]:
dfsh7 = dfsh7[dfsh7.Value != -999]

In [268]:
dfsh7.drop('QC Name', axis=1, inplace=True)

## Data Cleaning for Shenyang

In [269]:
dfsy1 = pd.read_csv('Shenyang_2013_2.5.csv', skiprows=3)

In [270]:
dfsy1 = dfsy1[dfsy1.Value != -999]

In [271]:
dfsy1.drop('QC Name', axis=1, inplace=True)

In [272]:
dfsy2 = pd.read_csv('Shenyang_2014_2.5.csv', skiprows=3)

In [273]:
dfsy2 = dfsy2[dfsy2.Value != -999]

In [274]:
dfsy2.drop('QC Name', axis=1, inplace=True)

In [275]:
dfsy3 = pd.read_csv('Shenyang_2015_2.5.csv', skiprows=3)

In [276]:
dfsy3 = dfsy3[dfsy3.Value != -999]

In [277]:
dfsy3.drop('QC Name', axis=1, inplace=True)

In [278]:
dfsy4 = pd.read_csv('Shenyang_2016_2.5.csv', skiprows=3)

In [279]:
dfsy4 = dfsy4[dfsy4.Value != -999]

In [280]:
dfsy4.drop('QC Name', axis=1, inplace=True)

In [281]:
dfsy5 = pd.read_csv('Shenyang_2017_2.5.csv', skiprows=3)

In [282]:
dfsy5 = dfsy5[dfsy5.Value != -999]

In [283]:
dfsy5.drop('QC Name', axis=1, inplace=True)

In [284]:
dfall = pd.concat([dfb1, dfb2, dfb3, dfb4, dfb5, dfb6, dfb7, dfb8, dfb9, dfb10, dfc1, dfc2, dfc3, dfc4, dfc5, dfc6, 
                   dfg1, dfg2, dfg3, dfg4, dfg5, dfg6, dfg7, dfsh1, dfsh2, dfsh3, dfsh4, dfsh5, dfsh6, dfsh7,
                  dfsy1, dfsy2,dfsy3, dfsy4, dfsy5], axis=0)

In [285]:
dfall.to_csv('china_all_cities.csv')

# Five Cities PM2.5 Average Daily Value Cleanup

We are trying to acquire the average value for a day, the below step check the data type for Date (LST) column (for we can use datetime function if the column is a datetime type).

In [286]:
dfall['Date (LST)'].dtype

dtype('O')

Since the Date (LST) is not a daytime type but an Object, and this dataset has individual column Year, Month, and Day, we decided to concatenate these columns to create a new column Date.

In [287]:
dfall['Date']=dfall['Year'].astype(str)+'/'+dfall['Month'].astype(str)+'/'+dfall['Day'].astype(str)

In [288]:
dfall.head()

,Site,Parameter,Date (LST),Year,Month,Day,Hour,Value,Unit,Duration,Date
0,Beijing,PM2.5,2008-04-08 15:00,2008,4,8,15,207,�g/mg�,1 Hr,2008/4/8
1,Beijing,PM2.5,2008-04-08 16:00,2008,4,8,16,180,�g/mg�,1 Hr,2008/4/8
2,Beijing,PM2.5,2008-04-08 17:00,2008,4,8,17,152,�g/mg�,1 Hr,2008/4/8
3,Beijing,PM2.5,2008-04-08 18:00,2008,4,8,18,162,�g/mg�,1 Hr,2008/4/8
4,Beijing,PM2.5,2008-04-08 19:00,2008,4,8,19,171,�g/mg�,1 Hr,2008/4/8

Drop the unnecessary columns

In [289]:
dfall.drop('Parameter', axis=1, inplace=True)

In [290]:
dfall.drop('Date (LST)', axis=1, inplace=True)

In [291]:
dfall.drop('Year', axis=1, inplace=True)

In [292]:
dfall.drop('Month', axis=1, inplace=True)

In [293]:
dfall.drop('Day', axis=1, inplace=True)

In [294]:
dfall.drop('Unit', axis=1, inplace=True)

In [295]:
dfall.drop('Duration', axis=1, inplace=True)

In [296]:
dfall.drop('Hour', axis=1, inplace=True)

In [297]:
dfall.head()

      Site  Value      Date
0  Beijing    207  2008/4/8
1  Beijing    180  2008/4/8
2  Beijing    152  2008/4/8
3  Beijing    162  2008/4/8
4  Beijing    171  2008/4/8

In [298]:
dfgrouped = dfall.groupby(['Site', 'Date']).mean()

In [300]:
dfgrouped.to_csv('city_daily_average.csv')